@model IEnumerable<MAS.Core.Domain.Indent.Indent>

<table>
    @foreach (var indent in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => indent.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => indent.IndentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => indent.IndentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => indent.IssuedBy)
            </td>
        </tr>
    }
</table>