@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MasApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <app-root></app-root>
    <script src="~/ngjs/inline.bundle.js"></script>
    <script src="~/ngjs/polyfills.bundle.js"></script>
    <script src="~/ngjs/styles.bundle.js"></script>
    <script src="~/ngjs/vendor.bundle.js"></script>
    <script src="~/ngjs/main.bundle.js"></script>
    </body>
</html>